*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Sono', monospace;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#141414,rgba(0, 0, 0, 0.849)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 240px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #716ebe;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h2{
    font-size: 40px;
}

.text-box p{
    color: white;
    margin: 20px 0 50px;
    font-size: 24px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #716ebe;
    background: #716ebe;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
    .text-box h2{
        font-size: 20px;
    }
    .text-box p{
        margin: 20px 0 50px;
        font-size: 12px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #716ebe;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.info h2{
    font-size: 40px;
    font-weight: 600;
}
.info p{
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



.row p{
    font-size: 15px;
    font-weight: 1;
}

.info-col{
    flex-basis: 31%;
    background: #9795cc;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}



.info-col:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


.photos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}