:root {
    --color-primary: #716ebe;
    --color-white: fff;
    --color-background: #141414;
    --secondary-background: rgba(0, 0, 0, 0.849);
    --color-danger: #ff7782;
    --color-success: #4caf50;
    --color-warning: #ff9800;
    --color-light: rgba(255, 255, 255, 0.1);
    --color-dark: rgba(29, 20, 39, 0.171);
    --color-info-dark: #42415e;
    --text-color: #fff;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-dark);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Sono', monospace;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}
main {
    margin-left: 200px; 
}

section {
    display: none;
    padding: 20px;
}

section.active {
    display: block;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-primary);
}

img{
    display: block;
    width: 200%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}   

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}


.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
    background: var(--color-background);
}

aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
}

aside .logo img{
    width: 100%;
    height: 50%;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2ren;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease ;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-dark);
    color: var(--color-primary);
    margin-left: 0;
    
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary)
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

.pw-container {
    background-color: #554f99;
    box-shadow: 0 4px 10px #252342;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pw-header {
    padding: 1rem;
    pointer-events: auto;
    color: #eee;
}

.pw span{
    user-select: all;
}

.pw {
    background-color: #353261;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button {
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.form-control input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #eee; 
    background-color: white; 
    
}

.form-control input[type="checkbox"]:checked {
    background-color: var(--color-primary); 
}


.generate {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}
 


.add-container {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    background-color: #554f99;
    box-shadow: 0 4px 10px #252342;
    padding: 20px; 
    box-sizing: border-box; 
}

#add-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-control-add {
    display: flex;
    flex-direction: column;
}

.form-control-add label {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 8px; 
    text-align: center; 
}

.form-control-add input,
.form-control-add select {
    width: calc(100% - 2rem); 
    padding: 12px; 
    font-size: 1rem;
    border: 2px solid var(--text-color);
    background-color: var(--color-background);
    color: var(--text-color);
    border-radius: var(--border-radius-1);
    outline: none;
    margin: 0 auto; 
    display: block; 
}

.button[type="submit"] {
    margin-top: 20px; 
    width: 50%; 
    align-self: center; 
}


button[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--color-dark);
}

.password-strength-container {
    font-size: 14px;
    display: flex;
    align-items: center;
}


#password-strength-meter {
    height: 20px;
    width: 0%;
    border-radius: 3px;
    background-color: #ddd;
    margin-left: 5px;
    transition: width 0.5s;
}


#password-strength-text {
    margin-left: 10px;
    font-size: 0px;
    color: white;
}


.strength-weak {
    background-color: #b40303 !important; 
}

.strength-medium {
    background-color: #ffa200 !important; 
}

.strength-strong {
    background-color: #28a745 !important;  
}


/* ------------------------------------------------------------------ */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1.1rem;
}

th, td {
    border: 1px solid var(--color-info-dark);
    padding: 12px;
    text-align: left;

}

th {
    background-color: var(--color-info-dark);
    color: var(--color-white);

}

tr:nth-child(even) {
    background-color: var(--color-background);
}

td{
    color: white;
}

td.password {
    position: relative;
}

td.password:hover::before {
    content: attr(data-password);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 8px;
    background-color: var(--color-dark);
    color: var(--color-primary);
    border: 1px solid var(--color-info-dark);
    border-radius: 4px;
    z-index: 1;
}

button.show-hide {
    background-color: var(--color-info-dark);
    color: var(--color-white);
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    transition: background-color 0.3s ease, color 0.2s ease;
}

button.show-hide:hover {
    background-color: var(--color-primary);
}


button.show-hide {
    opacity: 1;
    transform: translate(0, 0);
}


